html, body {
  margin: 0px;
  padding: 0px;
}
#my_frame {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 400px;
}
#my_content {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: rgb(255,0,0);
}
#my_content__carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 10s;
}
.my_content__button {
  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
  top: 70%;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  width: 0px;
  height: 0px;
}
#my_content__button--prev {
  left: 150px;
  border-right: 100px solid rgba(255,255,0,0.5);
}
#my_content__button--next {
  right: 150px;
  border-left: 100px solid rgba(255,255,0,0.5);
}
.my_content__feedback {
  display: none;
  position: absolute;
  z-index: 2;
  top: 70%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
}
#my_content__feedback--left {
  left: 120px;
}
#my_content__feedback--right {
  right: 120px;
}
